@font-face {
  font: {
    family: myFonts;
    weight: normal;
  };
  src: url('../assets/fonts/PingFangSC-Regular.woff2');
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 125%;  // 20px / 16px = 1.25 = 125%
}

body {
  font-family: myFonts;
}