:root {
    --color-container-background: #F5F8F9;

    --color-grey-light-1: #FAF9F9;
    --color-grey-light-2: #F4F2F2;
    --color-grey-light-3: #F0EEEE;
    --color-grey-light-3: #CCC;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-primary: #9BC0FF;
    --color-primary-light: #E7F0FF;
    --color-primary-dark: #4D607F;


    --shadow-dark: 0 1rem 3rem rgba(0,0,0,.3);
}